<layman>
<overlay type="git" src="https://mirror.git.trinitydesktop.org/gitea/TDE/tde-packaging-gentoo.git" status="unofficial" name="trinity-official">
<link>
http://www.trinitydesktop.org/
</link>
<description>
Official Gentoo overlay from the TDE team for Trinity Desktop Environment, a fork of KDE3
</description>
</overlay>
</layman>
